@use 'mixins';
// c before any variables stands for color also since underscore is allowed i will always
//use underscore for variable names to stand same line with all other programming conventions */
$c_red: red;
$c_blue: blue;
$c_green: rgb(95, 247, 128);

body > div:first-child {
  border: 1px solid $c_red;
  > h1:first-child {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    border-bottom: 1px solid $c_blue;
    color: $c_green;
  }
  & > section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    &:first-of-type article:nth-child(odd) {
      @include mixins.article-style($c_blue, $c_green, 10px);
    }

    &:first-of-type article:nth-child(even) {
      @include mixins.article-style($c_red, $c_green, 10px);
    }

    &:last-of-type article {
      @include mixins.article-style($c_green, $c_blue, 24px);
    }
  }
}
